<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <!-- Header's styles -->
    <%- include('../partials/header')%>

    <!-- NavBar's styles -->
    <%- include('../partials/nav')%>
    <main class="users-detail-main">
      <% if(locals.user) { %>
        <div class="user-detail-container">
          <div class="user-detail-left">
            <img src="/assets/users/<%= user.dataValues.image %> " alt="" class="user-detail-image">
            <!--<img src="../../../public/assets/users/<%= user.image %> " alt="user-image"> -->
          </div>
            <div class="user-detail-down">
              <h2 class="user-detail-name">
                <%= user.first_name + ' ' %>
                  <%= user.last_name %>
              </h2>
                <div class="user-detail-info">
                  <div class="user-detail-label-divs">
                    <h4>Email: </h4>
                    <p>
                      <%= user.email%>
                    </p>
                  </div>
                  <div class="user-detail-label-divs">
                    <h4>Country: </h4>
                    <p>
                      <%= user.country%>
                    </p>
                  </div>
                 
                </div>
                <div class="user-detail-btns">
                  <a href=""><button id="user-detail-edit-btn">Editar Información</button></a>
                  <a href=""><button id="user-detail-delete-btn">Eliminar cuenta</button></a>
                </div>
                
            </div>
        
          
        </div>
      <% } else { %>
        <h1>No valid user for this search</h1>
      <% } %>
    </main>
    <%- include('../partials/footer')%>
  </body>