<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <!-- Header's styles -->
    <%- include('../partials/header')%>

    <!-- NavBar's styles -->
    <%- include('../partials/nav')%>
    <main>
      <!-- Login section -->
      <div class="main__login-container">
        <h1 class="main__login-title">Inicio de sesión</h1>
        <div class="main__login-content">
          <% if(locals.errors){ %> <% for(let error in errors){ %>
          <p class="feedback"><%= errors[error].msg %></p>
          <% } %> <% } %>
          <form id="login-form" action="authlogin" method="POST">
            <span id="not-filled" class="input-error"></span>
            <ul class="main__login-userCredentials">
              <li>
                <label class="main__login-label" for="email"
                  >Correo Electónico:</label
                >
                <span class="input-error" id="email-login-error"></span>
                <input
                  class="main__login-input"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Correo electrónico"
                />
              </li>
              <li>
                <label class="main__login-label" for="password"
                  >Contraseña:</label
                >
                <span class="input-error" id="password-login-error"></span>
                <input
                  class="main__login-input"
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Contraseña"
                />
              </li>
              <li>
                <label for="remember">Recuerdame</label>
                <input type="checkbox" name="remember_user" id="remember" />
              </li>
            </ul>
            <div class="main__login-userOptions">
              <a href="/users/registro" class="main__login-createCount"
                >¿No tiene una cuenta?</a
              >
              <a href="">¿Se te olvidó la contraseña?</a>
            </div>
            <div class="main__login-google">
              <a href="#"
                ><p>
                  <i class="fab fa-google"></i>Inicio de sesión con Google
                </p></a
              >
            </div>
            <button type="submit" class="main__login-btnLogin" id="login-submit">
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
    </main>

    <script src="/js/login.js"></script>
    <!-- Footer section -->
    <%- include('../partials/footer')%>
  </body>
</html>
