<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/header', { user })%>
    <!-- NavBar's styles -->
    <%- include('./partials/nav')%>
    <!-- Cart section -->
    <main class="cart__section">
      <section>
        <h1 class="cart__section--title">Carrito de compras</h1>
        <div class="cart__section--container">
          <%if(locals.products && locals.products.length){%>
          <%products.forEach(product =>{%>
          <div class="cart__section--items">
            <img
              src="./assets/products/<%=product.product_image %>"
              alt="Perfume"
            />
            <div class="cart__item--info">
              <p><%=product.product_name %></p>
              <p>$<%=product.price %></p>
              <span><a href="">Ver mas...</a></span>
            </div>
            <div class="cart__item--number">
              <i class="fas fa-minus"></i>
              <span>1</span>
              <i class="fas fa-plus"></i>
            </div>
            <i class="far fa-trash-alt"></i>
          </div>
          <div class="cart__total">
            <div class="cart__total--info">
              <div>
                <p>Subtotal</p>
                <p>Envio</p>
                <p>IVA</p>
              </div>
              <div class="cart__total--total">
                <p class="total">Total</p>
                <p>$16.000</p>
              </div>
  
              <div class="cart__total--payment">
                <button>CHECKOUT</button>
                <button>Paga con paypal</button>
                <span><a href="#">Opciones de pago...</a></span>
              </div>
            </div>

            <div class="cart__total--payment">
              <button>CHECKOUT</button>
              <button>Paga con paypal</button>
              <span><a href="#">Opciones de pago...</a></span>
            </div>
          </div>
          <% }) %> <% } else { %>
          <p>No hay productos agregados al carrito</p>
          <% } %>
        </div>
      </section>
    </main>
    <%- include('./partials/footer')%>
  </body>
</html>
