<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/header')%>
    <!-- NavBar's styles -->
    <%- include('./partials/nav')%>
    <main>
      <form  action="?_method=PUT" method="POST" enctype="multipart/form-data">         
        <h2 class="add-product__title">Editar producto</h2>
        <div class="add-product__container">
          <div class="add-product__description">
            <h3>Añade una imagen del producto:</h3>
            <div class="add-product__image">
              <img src="/assets/<%= 
                  ( locals.errors ) ? 'default-image.png' 
                  : product.productImage 
                  %> 
                  " alt="channel" />
            </div>          
            <div class="add-product__imageLoading">
              <label for="productImage">Agregar imagen</label>
              <input type="file" id="productImage" name="productImage" hidden/>
              <textarea
              name="description"
              rows="5"
              cols="20"
              placeholder="Añade una descripción del producto"
              ></textarea>
            </div>
            <!-- <textarea name="textarea" rows="5" cols="20" placeholder="Añade una descripción del producto"></textarea> -->
          </div>
          <div class="add-product__info">
            <h3>Añade información del producto:</h3>
            <% if(locals.errors){ %> <% for(let error in errors){ %>
              <p class="feedback"><%= errors[error].msg %></p>
              <% } %> <% } %>
            <div class="add-product__form">
            
                <ul>
                  <li>
                    <label for="nombre">Nombre del producto: </label>
                    <input type="text" id="nombre" name="productName" />
                  </li>
                  <li>
                    <label for="genero">Género:</label>
                    <select name="gender" id="genero">
                      <option value="masculino">Hombre</option>
                      <option value="femenino">Mujer</option>
                      <option value="unisex">Unisex</option>
                    </select>
                  </li>
                  <li>
                    <label for="marca">Marca: </label>
                    <input type="text" id="marca" name="Brand" />
                  </li>
                  <li>
                    <label for="precio">Precio: </label>
                    <span>$ <input type="number" id="precio" name="price" /></span>
                  </li>
                  <li>
                    <label for="vol">Volumen (ml): </label>
                    <input type="number" id="vol" name="size" />
                  </li>
                  <li>
                    <p>Selecciona una categoría:</p>
                    <div class="add-product__categories">
                      <span>
                        <input
                          type="radio"
                          id="floral"
                          name="category"
                          value="floral"
                        />
                        <label for="floral">Floral</label>
                      </span>
    
                      <span>
                        <input
                          type="radio"
                          id="frutal"
                          name="category"
                          value="frutal"
                        />
                        <label for="frutal">Frutal</label>
                      </span>
    
                      <span>
                        <input
                          type="radio"
                          id="amaderado"
                          name="category"
                          value="amaderado"
                        />
                        <label for="amaderado">Amaderado</label>
                      </span>
    
                      <span>
                        <input
                          type="radio"
                          id="dulce"
                          name="category"
                          value="dulce"
                        />
                        <label for="dulce">Dulce</label>
                      </span>
    
                      <span>
                        <input
                          type="radio"
                          id="cítrico"
                          name="category"
                          value="cítrico"
                        />
                        <label for="cítrico">Cítrico</label>
                      </span>
                    </div>
                  </li>
                  
                </ul>
                <div class="add-product__form--btn">
                  <button type="reset">Descartar</button>
                  <button type="submit">Añadir</button>
                </div>
            </div>
            
            </div>
        </div>
      </form>
      
    </main>
    <%- include('./partials/footer')%>
  </body>
</html>
