<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <!-- Header's styles -->
    <%- include('./partials/header', { user })%>

    <!-- NavBar's styles -->
    <%- include('./partials/nav')%>

    <!-- Slider's styles -->
    <section class="main-slider">
      <div class="main-slider__container">
        <img
          src="https://images.unsplash.com/photo-1519606247872-0440aae9b827?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          alt="slider image"
          class="main-slider__image slider-image-active"
        />
        <img
          src="https://media.istockphoto.com/photos/lemon-essential-oil-on-a-yellow-background-selective-focus-picture-id1330929813?k=20&m=1330929813&s=612x612&w=0&h=3JjmNO8hnNbCtMzfwGqOs2Nf78ySU_SLg2DbyKA1v0M="
          alt="slider image"
          class="main-slider__image"
        />
        <img
          src="https://images.unsplash.com/photo-1567653418876-5bb0e566e1c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fHN3ZWV0JTIwcGVyZnVtZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          alt="slider image"
          class="main-slider__image"
        />
        <img
          src="https://media.istockphoto.com/photos/field-of-blooming-flowers-buttercups-of-different-colors-close-up-picture-id1151018907?k=20&m=1151018907&s=612x612&w=0&auto=format&fit=crop&h=LoDDG_D14UJfKfW5x0mTQ5TlGW4D0-aHZAJMHOJiMfo="
          alt="slider image"
          class="main-slider__image"
        />
        <img
          src="https://media.istockphoto.com/photos/colorful-fruit-pattern-picture-id1013581718?k=20&m=1013581718&s=612x612&w=0&h=p1mj8Y97b3kY43SUoOOFHzV32VE5ikIV1umpk3gvS_o="
          alt="slider image"
          class="main-slider__image"
        />
        <div class="main-slider__content">
          <h2 class="slider__title" id="perfume-title"></h2>
          <p class="slider__text" id="perfume-text"></p>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
      </div>
    </section>
    <!-- <p>This is home</p> -->
    <main class="product__section">
      <h1 class="product__section--title">Promociones del dia</h1>
      <section class="product__container">
        <% if(products.length){ %> <% for(let i= 0; i<=5; i++) { %>
        <a href="/products/product-detail/<%= products[i].id %> "
          ><article class="product__container--card">
            <div class="perfume__img">
              <img src="./assets/<%= products[i].product_image %> " alt="" />
            </div>
            <div class="perfume__info">
              <p class="price"><%= products[i].price %>$</p>
              <p class="product__name"><%= products[i].product_name %></p>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-shopping-cart cart"></i>
            </div>
          </article>
        </a>
        <% } %> <% } %>
      </section>

      <h1 class="product__section--title">Los mas vendidos</h1>
      <section class="product__container">
        <% if(products.length){ %> <% for(let i= 6; i<=11; i++) { %>
        <a href="/products/product-detail/<%= products[i].id %> "
          ><article class="product__container--card">
            <div class="perfume__img">
              <img src="./assets/<%= products[i].product_image %> " alt="" />
            </div>
            <div class="perfume__info">
              <p class="price"><%= products[i].price %>$</p>
              <p class="product__name"><%= products[i].product_name %></p>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-shopping-cart cart"></i>
            </div>
          </article>
        </a>
        <% } %> <% } %>
      </section>

      <h1 class="product__section--title">Ediciones exclusivas</h1>
      <section class="product__container">
        <% if(products.length){ %> <% for(let i= 12; i<=17; i++) { %>
        <a href="/products/product-detail/<%= products[i].id %> "
          ><article class="product__container--card">
            <div class="perfume__img">
              <img src="./assets/<%= products[i].product_image %> " alt="" />
            </div>
            <div class="perfume__info">
              <p class="price"><%= products[i].price %>$</p>
              <p class="product__name"><%= products[i].product_name %></p>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-shopping-cart cart"></i>
            </div>
          </article>
        </a>
        <% } %> <% } %>
      </section>
    </main>
    <%- include('./partials/footer')%>
    <script src="/js/home.js"></script>
    <script src="/js/hambMenu.js"></script>
  </body>
</html>
