<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <!-- Header's styles -->
    <%- include('./partials/header')%>

    <!-- NavBar's styles -->
    <%- include('./partials/nav')%>

    <!-- Slider's styles -->
    <section class="main-slider">
      <div class="main-slider__container">
        <img
          src="assets/slider1-redim.jpg"
          alt="slider image"
          class="main-slider__image"
        />
        <div class="main-slider__content">
          <h2 class="slider__title">Amaderado</h2>
          <p class="slider__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            nisi.
          </p>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
      </div>
    </section>
    <!-- <p>This is home</p> -->
    <main class="product__section">
      <h1 class="product__section--title">Promociones del dia</h1>
      <section class="product__container">
        <% if(products.length){ %> <% for(let i= 0; i<=5; i++) { %>
        <a href="/products/product-detail/<%= products[i].id %> "
          ><article class="product__container--card">
            <div class="perfume__img">
              <img src="./assets/<%= products[i].productImage %> " alt="" />
            </div>
            <div class="perfume__info">
              <p class="price"><%= products[i].price %>$</p>
              <p class="product__name"><%= products[i].productName %></p>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-shopping-cart cart"></i>
            </div>
          </article>
        </a>
        <% } %> <% } %>
      </section>

      <h1 class="product__section--title">Los mas vendidos</h1>
      <section class="product__container">
        <% if(products.length){ %> <% for(let i= 6; i<=11; i++) { %>
        <a href="/products/product-detail/<%= products[i].id %> "
          ><article class="product__container--card">
            <div class="perfume__img">
              <img src="./assets/<%= products[i].productImage %> " alt="" />
            </div>
            <div class="perfume__info">
              <p class="price"><%= products[i].price %>$</p>
              <p class="product__name"><%= products[i].productName %></p>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-shopping-cart cart"></i>
            </div>
          </article>
        </a>
        <% } %> <% } %>
      </section>

      <h1 class="product__section--title">Ediciones exclusivas</h1>
      <section class="product__container">
        <% if(products.length){ %> <% for(let i= 12; i<=17; i++) { %>
        <a href="/products/product-detail/<%= products[i].id %> "
          ><article class="product__container--card">
            <div class="perfume__img">
              <img src="./assets/<%= products[i].productImage %> " alt="" />
            </div>
            <div class="perfume__info">
              <p class="price"><%= products[i].price %>$</p>
              <p class="product__name"><%= products[i].productName %></p>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-star stars"></i>
              <i class="fas fa-shopping-cart cart"></i>
            </div>
          </article>
        </a>
        <% } %> <% } %>
      </section>
    </main>
    <%- include('./partials/footer')%>
  </body>
</html>
