<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <!-- Header's styles -->
    <%- include('./partials/header')%>

    <!-- NavBar's styles -->
    <%- include('./partials/nav')%>

<% if (locals.showProducts.length && locals.showProducts) {%>
<% let pickedProduct = showProducts.find(item => item.id == chosenId);%>
<main class="main-product-detail">
  <div class="main-pd-container">
    <div class="img-pd-container">
       
      <img src="/assets/<%= pickedProduct.productImage %> " alt="product image">
    </div>
    <div class="info-pd-container">
      <h2 class="product-title"><%= pickedProduct.productName %></h2>
      <div class="info-main-container">
        <div class="brand-div">
          <p class="brand-title">Marca:</p>
          <p class="brand"><%= pickedProduct.Brand %></p>
        </div>
        <div class="price-div">
          <p class="price-product-detail">$<%= pickedProduct.price %></p>
        </div>
        <div class="cant-div">
          <form action="">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" max="20">
          </form>
        </div>
        <div class="button-div">
          <button class="add-to-cart"><i class="fas fa-shopping-cart"></i
            >AÑADIR AL CARRITO</button>
        </div>
      </div>
   
    </div>
  </div>
  <div class="decription-pd-container">
    <div class="product-description">
      <h3>Descripción</h3>
      <p><%= pickedProduct.description %>.</p>
    </div>
  </div>
</main>
<% } else {%>
  <h3>Producto no encontrado</h3>
<% }%>
  </body>
  <%- include('./partials/footer')%>

    </body>
  </html>