<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
    <body>
      <!-- Header's styles -->
      <%- include('./partials/header')%>
  
      <!-- NavBar's styles -->
      <%- include('./partials/nav')%>

      <h2>Productos</h2>

      <div class="products-list-container">
          <table>
            <thead>
              <tr>
                  <th>Producto</th>
                  <th>ID</th>
                  <th>Marca</th>
                  <th>Precio</th>
                  <th>Categoría</th>
                  <th>Género</th>
                  <th>Tamaño</th>
                  <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <% if (locals.showProducts && locals.showProducts.length) { %>
                    <% showProducts.forEach(item => { %>
                        <td> <%= item.productName %></td>
                        <td> <%= item.id %></td> 
                        <td> <%= item.Brand %></td>
                        <td> <%= item.price %></td>
                        <td> <%= item.category %></td>
                        <td> <%= item.gender %></td>
                        <td> <%= item.size %></td>
                        <td> <a>Edit</a> <a>Delete</a></td>
                      </tr>
                    </tbody>

                    <% }); %>
           
                  <% } else {%>
                    <h3>Todavía no hay productos</h3>
                  <% } %>

              

          </table>
      </div>
    </body>
    
</body>
</html>