<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
<body>    
    <!-- Header's styles -->
    <%- include('../partials/header')%>

      <!-- NavBar's styles -->
      <%- include('../partials/nav')%>

      <main>
       <!-- Categories's section -->
       <div class="main__categories-container">
        <div class="main__categories-menu">
            <img src="/assets/slider_categories-resized.jpg" alt="" class="main__categories-image">
            <div class="main__categories-mainMenu">
                <h1 class="main__categories-title">Categoria</h1>                
                <div class="main__categories-filter">
                    <button class="select-filter" name="select" value="options">Filtrar por:</button>
                    <div class="options-filter">
                        <p class="item-filter active">option 1</p>
                        <p class="item-filter">option 2</p>
                        <p class="item-filter">option 3</p>
                        <p class="item-filter">option 4</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products by categories -->
        <div class="main__categories-productsContent">          
          <% prodByCategory.forEach(product => { %>
            <article class="product__categories--card">
             <a href="/products/product-detail/<%= product.id %> ">
              <div class="perfume__img">
                <% console.log(product.productImage) %> 
                <img src="/assets/products/<%=product.product_image%>"  alt="Product Image" />
              </div>
              <div class="perfume__info">
                <p class="price"><%= product.price %> $</p>
                <p class="product__name"><%= product.product_name %> </p>
                <i class="fas fa-star stars"></i>
                <i class="fas fa-star stars"></i>
                <i class="fas fa-star stars"></i>
                <i class="fas fa-star stars"></i>      
                <i class="fas fa-shopping-cart cart"></i>
              </div>
            </a>
            </article>
            
          <% }) %>
          
        </div>
        <div class="main__categories-sections">
            <div class="main__categories-sectionOptions">
                <a href=""><i class="fas fa-chevron-left"></i></a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href=""><i class="fas fa-chevron-right"></i></a>
            </div>
           
        </div>
      </main>
      <script src="/js/hambMenu.js"></script>
    <!-- Footer section -->
    <%- include('../partials/footer')%>

</body>
</html>