<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <!-- Header's styles -->
    <%- include('../partials/header')%>

    <!-- NavBar's styles -->
    <%- include('../partials/nav')%>

<% if (locals.product) {%>
<main class="main-product-detail">
  <div class="main-pd-container">
    <div class="img-pd-container">
       
      <img src="/assets/products/<%= product.product_image %> " alt="product image">
    </div>
    <div class="info-pd-container">
      <h2 class="product-title"><%= product.product_name %></h2>
      <div class="info-main-container">
        <div class="brand-div">
          <p class="brand-title">Marca:</p>
          <p class="brand"><%= product.brand %></p>
        </div>
        <div class="price-div">
          <p class="price-product-detail">$<%= product.price %></p>
        </div>
        <div class="cant-div"> <!-- revisar -->
          <p class="brand-title">Volumen:</p>
          <p class="brand"><%= product.size %></p>
        </div>
        <div class="button-div">
          <button class="add-to-cart"><i class="fas fa-shopping-cart"></i
            >AÑADIR AL CARRITO</button>
        </div>
      </div>
   
    </div>
  </div>
  <div class="decription-pd-container">
    <div class="product-description">
      <h3>Descripción</h3>
      <p><%= product.description %>.</p>
    </div>
  </div>
</main>
<% } else {%>
  <h3>Producto no encontrado</h3>
<% }%>
  </body>
  <%- include('../partials/footer')%>

    </body>
  </html>